@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --primaryText: rgb(192, 185, 185);
    --secondaryText: #272727;
    --primaryBackground: #ffc600;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    color: var(--primaryText);
    font-size: 20px;
    letter-spacing: 0.8px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    font-weight: 400;
    overflow: hidden;
    user-select: none;
}

body {
    background-image: url(./img/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg);
}

/* ----------------------- Transition Slide ----------------------- */

.showcase {
    z-index: 4;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondaryText);
    mix-blend-mode: overlay;
    opacity: 0;
}

.logo {
    position: relative;
    z-index: 10;
    top: 250px;
    left: 38%;
    opacity: 0;
    width: 400px;
    height: 400px;
}

/* ----------------------- First Slide ----------------------- */

.container {
    display: grid;
    grid-template-areas:
        "header"
        "header-p"
        "main";
    z-index: 1; 
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 2rem;
}

.title {
    transform: translateY(-150%) scale(.95);
    transition: all .6s ease-in-out;
}

.header-p {
    grid-area: header-p;
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 240px;
}

.header-p span {
    margin-top: 40px;
    width: 800px;
    border-top: 1px solid var(--secondaryText);
    border-bottom: 1px solid var(--secondaryText);
    padding-top: 30px;
    font-size: 1.7rem;
}

.content {
    opacity: 0;
    transform: scale(.85);
    transition: all .6s ease-in-out;
}

.main {
    display: grid;
    grid-area: main;
    grid-template-areas: "image product";
    min-height: 400px;
    grid-template-columns: 600px 200px;
    justify-content: center;
}

.image {
    grid-area: image;
    height: 650px;
    justify-content: center;
    align-items: center;
}

.burger {
    opacity: 0;
    transform: translateX(-50%) scale(.95);
    transition: all .6s ease-in-out;
}

.product {
    grid-area: product;
    align-self: center;
    color: var(--secondaryText);
    justify-content: center;
    margin-bottom: 130px;
    opacity: 0;
    transform: scale(.85);
    transition: all .6s ease-in-out;
}

#size-m {
    background-color: rgb(0, 151, 0);
    font-size: .8rem;
    width: fit-content;
    padding: 2px 4px;
    border-radius: 5px;
    font-weight: 600;
    transform: translate(-20px, 15px) rotate(-15deg);
}

#size-v {
    background-color: rgb(74, 74, 206);
    font-size: .8rem;
    width: fit-content;
    padding: 2px 4px;
    border-radius: 5px;
    font-weight: 600;
    transform: translate(-20px, 15px) rotate(-15deg);
}

.meal-slider-price {
    width: 150px;
    height: 60px;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    font-size: 2rem;
    background-color: var(--primaryBackground);
    box-shadow: rgba(0, 0, 0, .8);
}

.upper-price {
    font-size: 1rem;
    letter-spacing: 0.2px;
    font-weight: bold;
    position: relative;
    top: 5px;
}

.b-active {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: all .6s ease-in-out;
}

.t-active {
    transform: translateY(0) scale(1);
    transition: all .6s ease-in-out;
}

.c-active {
    opacity: 1;
    transform: scale(1);
    transition: all .6s ease-in-out;
}

.p-active {
    opacity: 1;
    transform: scale(1);
    transition: all .6s ease-in-out;
}

/* ----------------------- Second Slide ----------------------- */

.container2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.sepContain1 {
    flex: 1;
    display: grid;
    grid-template-areas:
        "sepHeader"
        "sepMain"
        "sepFooter";
    border-right: 1px solid gray;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .7s ease-in-out;
}

.sepContain2 {
    flex: 1;
    display: grid;
    grid-template-areas:
        "sepHeader"
        "sepMain"
        "sepFooter";
    border-right: 1px solid gray;
    opacity: 0;
    transform: translateX(-140%);
    transition: all .8s ease-in-out;
}

.sepContain3 {
    flex: 1;
    display: grid;
    grid-template-areas:
        "sepHeader"
        "sepMain"
        "sepFooter";
    border-right: 1px solid gray;
    opacity: 0;
    transform: translateX(-180%);
    transition: all .9s ease-in-out;
}

.sepContain1-active {
    opacity: 1;
    transform: translateX(0);
    transition: all .7s ease-in-out;
}

.sepContain2-active {
    opacity: 1;
    transform: translateX(0);
    transition: all .8s ease-in-out;
}

.sepContain3-active {
    opacity: 1;
    transform: translateX(0);
    transition: all .9s ease-in-out;
}

.sepHeader {
    justify-content: center;
    grid-area: sepHeader;
}

.title2 {
    text-align: center;
    padding-top: 50px;
    font-size: 1.5rem;
}

.title-contents {
    text-align: center;
    padding-top: 50px;
    font-size: 2rem;
}

.sepMain {
    grid-area: sepMain;
}

.sepImg {
    display: block;
    margin: auto;
    max-width: 500px;
}

.sepFooter {
    grid-area: sepFooter;
}

.price2 {
    text-align: center;
    background-color: var(--primaryBackground);
    height: 80%;
    width: 100%;
    color: var(--secondaryText);
    font-size: 6rem;
}

/* ----------------------- Animate ----------------------- */

.fade-out {
    animation: fade 1s;
    opacity: 0;
}

.fade-in {
    animation: fadeIn 1s ease-in;
    opacity: 1;
}

@keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}